.App {
  text-align: center;
  background-color: white;

}


.splash_motion{
  position: fixed;
  height:100%;
  width:100%;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  top:0;
}

