.App {
  text-align: center;
  height:100%;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color:#2F2E41;
}

a{
  color: #2F2E41;
  font-weight: bolder;
  text-decoration: none;
}

.splash_motion{
  position: fixed;
  height:100%;
  width:100%;
  background-color:black;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:100;
}

#grid{
  display:flex;
  align-items:center;
  flex-direction: column;
}
  
.lightbulb{
  height:25em;
}

.yellowbulb{
  height:25em;
  position: absolute;
  align-self: center;
}


nav{
  display: flex;
  width:80%;
  margin:10px auto 20px auto;
  align-items: center;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: space-between;
  width:60%;
  color:#2F2E41;
  font-weight: bolder;
}

.initials{
  padding:0px 20px;
  color:#2F2E41;
  border:5px solid rgba(243,210,80,.8);
  text-align: center;
  justify-self: right;
}

@media only screen and (min-width:700px) {

}